mat-expansion-panel{
  display: block;
  margin:auto;
  margin-top: 1rem;
 width:52%;
}

.info-text{

  margin-top: 15px;
  text-align: center;
}

.edit{
  color:lightblue;
}

.add{
  margin-top: 10px;
  margin-left: 44%;
  color: white;
  background-color: blueviolet;
}

mat-paginator{
  margin-top: 1rem;
  margin-left: 24%;
  width: 52%;
  border-radius: 10px;
}
